@use "../abstract/variables" as var;
@use "../abstract/mixins" as mix;
@use "sass:map";

.company_products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: map.get(var.$spacing, 32);

    margin-block-end: calc(map.get(var.$spacing, 96) + map.get(var.$special_spacing, 2));

    @include mix.respond_to(min, l_screen) {
        grid-template-columns: repeat(2, 1fr);
        margin-block-end: calc(map.get(var.$spacing, 120) + map.get(var.$spacing, 64) - map.get(var.$special_spacing, 2));
        row-gap: map.get(var.$spacing, 80);
    }

    &__header {
        margin-block-end: map.get(var.$spacing, 16);
        order: 1;

        @include mix.respond_to(min, m_screen) {
            font-size: map.get(var.$spacing, 48); //overrides clamp() to follow design
            margin-block-end: map.get(var.$spacing, 32);
        }

        @include mix.respond_to(min, l_screen) {
            margin-block-end: 0;
            text-align: left;
        }
    }
}

.grid {
    order: 2;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: map.get(var.$spacing, 24);

    @include mix.respond_to(min, l_screen) {
        order: 3;
        grid-column: span 2 / span 2;

        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        grid-template-rows: none;
        grid-auto-rows: calc((map.get(var.$spacing, 64) * 7) + map.get(var.$special_spacing, 2));
        gap: map.get(var.$spacing, 32);
    }

    &__item {
        display: flex; //to control span positioning
        position: relative;
        isolation: isolate;
        padding:
            calc(map.get(var.$spacing, 48) + map.get(var.$special_spacing, 4)) 0 calc(map.get(var.$spacing, 16) + map.get(var.$special_spacing, 4)) calc(map.get(var.$spacing, 16) + map.get(var.$special_spacing, 4));

        text-transform: uppercase;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        max-block-size: map.get(var.$spacing, 120);
        @include mix.transition(.3s, ease, all);

        @include mix.respond_to(min, m_screen) {
            padding-inline-start: calc(map.get(var.$spacing, 16) + map.get(var.$special_spacing, 15) + map.get(var.$special_spacing, 5) + (map.get(var.$special_spacing, 2) / 2));
            ;
        }

        @include mix.respond_to(min, l_screen) {
            max-block-size: 100%;
            padding: calc(map.get(var.$spacing, 48) + (map.get(var.$special_spacing, 2) * 2)) 0 map.get(var.$spacing, 32) map.get(var.$spacing, 40);
            font-size: 2rem; //overrides clamp() func
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            @include mix.transition(.3s, ease, background-color);
        }

        &:hover::before {
            background-color: hsl(0 0% 100% / 0.7);
        }

        &:hover {
            box-shadow: 0 map.get(var.$special_spacing, 4) map.get(var.$special_spacing, 4) hsl(0 0% 0% / 0.25);

            .grid__text {
                color: var.$black;
            }
        }
    }

    &__text {
        position: relative; //for text to stay on top of stack
        align-self: end;
        max-inline-size: 9ch;
        @include mix.transition(.3s, ease, color);
    }

    .deep_earth {
        background-image: var.$gradient_40, url("../assets/mobile/deep_earth_mobile.jpg");

        @include mix.respond_to(min, l_screen) {
            background-image: var.$gradient_40, url("../assets/desktop/deep_earth_desktop.jpg");
        }
    }

    .night_arcade {
        background-image: var.$gradient_40, url("../assets/mobile/night_arcade_mobile.jpg");

        @include mix.respond_to(min, l_screen) {
            background-image: var.$gradient_40, url("../assets/desktop/night_arcade_desktop.jpg");
        }
    }

    .soccer_team {
        background-image: var.$gradient_40, url("../assets/mobile/soccer_team_mobile.jpg");

        @include mix.respond_to(min, l_screen) {
            background-image: var.$gradient_40, url("../assets/desktop/soccer_team_desktop.jpg");
        }
    }

    .the_grid {
        background-image: var.$gradient_40, url("../assets/mobile/the_grid_mobile.jpg");

        &> :first-child {
            max-inline-size: 7ch; //ad-hoc solution to match design
        }

        @include mix.respond_to(min, l_screen) {
            background-image: var.$gradient_40, url("../assets/desktop/the_grid_desktop.jpg");
        }
    }

    .up_above {
        background-image: var.$gradient_40, url("../assets/mobile/up_above_mobile.jpg");

        @include mix.respond_to(min, l_screen) {
            background-image: var.$gradient_40, url("../assets/desktop/up_above_desktop.jpg");
        }
    }

    .pocket_borealis {
        background-image: var.$gradient_40, url("../assets/mobile/pocket_borealis_mobile.jpg");

        @include mix.respond_to(min, l_screen) {
            background-image: var.$gradient_40, url("../assets/desktop/pocket_borealis_desktop.jpg");
        }
    }

    .curiosity {
        background-image: var.$gradient_40, url("../assets/mobile/curiosity_mobile.jpg");

        @include mix.respond_to(min, l_screen) {
            background-image: var.$gradient_40, url("../assets/desktop/curiosity_desktop.jpg");
        }
    }

    .fisheye {
        background-image: var.$gradient_40, url("../assets/mobile/fisheye_mobile.jpg");

        @include mix.respond_to(min, l_screen) {
            background-image: var.$gradient_40, url("../assets/desktop/fisheye_desktop.jpg");
        }
    }
}