@use "../../abstract/variables" as var;
@use "../../abstract/mixins" as mix;
@use "sass:map";

.footer {
    background: var.$black;
    text-align: center;

    &__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: map.get(var.$spacing, 16);
        padding: map.get(var.$spacing, 56) 0;

        @include mix.respond_to(min, m_screen) {
            grid-template-columns: repeat(2, 1fr);
            text-align: end;
            gap: map.get(var.$spacing, 24);
        }

        @include mix.respond_to(min, l_screen) {
            padding: calc(map.get(var.$spacing, 40) + map.get(var.$special_spacing, 5)) 0 calc(map.get(var.$spacing, 40) + map.get(var.$special_spacing, 2));
        }
    }

    &__nav {
        margin-block-end: map.get(var.$spacing, 24);
        order: 2;

        @include mix.respond_to(min, m_screen) {
            margin-block-end: 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: map.get(var.$spacing, 16);
        text-transform: capitalize;

        @include mix.respond_to(min, m_screen) {
            flex-direction: row;
        }

        @include mix.respond_to(min, l_screen) {
            gap: map.get(var.$spacing, 32);
        }
    }

    &__link>* {
        color: var.$white;
    }

    &__social {
        line-height: 0;
        order: 3;

        @include mix.respond_to(min, m_screen) {
            order: 2;
        }
    }

    &__list {
        display: flex;
        gap: map.get(var.$spacing, 16);
        justify-self: center;
        align-items: center;

        @include mix.respond_to(min, m_screen) {
            justify-self: end;
        }

        &> * {
            @include mix.link(var.$black--opaque);
        }

        &> svg:not(:last-child) {
            margin-inline-end: map.get(var.$spacing, 16);
        }
    }

    &__copyright {
        color: var.$black--opaque;
        order: 4;
    }
}

path {
    @include mix.transition(.3s, all, ease);
}