@use "../../abstract/variables" as var;
@use "../../abstract/mixins" as mix;
@use "sass:map";

%button {
    background-color: var.$white;
    padding: .78rem 2.34rem;
    border: 1px solid transparent;
    cursor: pointer;
    @include mix.transition(0.3s, ease, all);

    &:hover {
        background-color: var.$black;
        color: var.$white;
    }

    // &:active {
    //     transform: translate(.7px, .7px);
    // }
}

.button--expand {
    @extend %button;
    text-transform: uppercase;
    border-color: var.$black;
    align-self: center;
    order: 3;
    justify-self: center;

    @include mix.respond_to(min, l_screen) {
        order: 2;
        justify-self: end;
    }
}